.card-container.active-modal {
  overflow-y: hidden;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  width: 700px;
  height: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
}

.modal-content h1 {
  color: #512b81;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1.5px solid #512b81;
  border-radius: 5px;
  font-size: 16px;
}

.modal-content textarea {
  height: 100px;
}

.modal-buttons {
  justify-content: flex-end;
  gap: 15px;
}

.modal-buttons button {
  padding: 8px 12px;
  background-color: #512b81;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.modal-buttons button:hover {
  background-color: #1f0d5c;
}
