@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");

.nav-text {
  font-family: "Poppins", sans-serif;
  color: white;
}

.header-text {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: large;
}

.button-text {
  font-family: "Poppins", sans-serif;
  color: #2b60ec;
  font-size: large;
}
